<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".mcu1oxygengraph"
            android:exported="false" />
        <activity
            android:name=".mcu5temphumid"
            android:exported="false" />
        <activity
            android:name=".mcu5oxy"
            android:exported="false" />
        <activity
            android:name=".mcu5meth"
            android:exported="false" />
        <activity
            android:name=".mcu5flowv"
            android:exported="false" />
        <activity
            android:name=".mcu5ethy"
            android:exported="false" />
        <activity
            android:name=".mcu5co2"
            android:exported="false" />
        <activity
            android:name=".mcu5co"
            android:exported="false" />
        <activity
            android:name=".MCU5"
            android:exported="false" />
        <activity
            android:name=".mcu4flowv"
            android:exported="false" />
        <activity
            android:name=".mcu4temphumid"
            android:exported="false" />
        <activity
            android:name=".mcu4oxy"
            android:exported="false" />
        <activity
            android:name=".mcu4meth"
            android:exported="false" />
        <activity
            android:name=".mcu4ethy"
            android:exported="false" />
        <activity
            android:name=".mcu4co2"
            android:exported="false" />
        <activity
            android:name=".mcu4co"
            android:exported="false" />
        <activity
            android:name=".MCU4"
            android:exported="false" />
        <activity
            android:name=".mcu3temp"
            android:exported="false" />
        <activity
            android:name=".mcu3flowl"
            android:exported="false" />
        <activity
            android:name=".mcu3oxy"
            android:exported="false" />
        <activity
            android:name=".mcu3metha"
            android:exported="false" />
        <activity
            android:name=".mcu3ethy"
            android:exported="false" />
        <activity
            android:name=".mcu3co"
            android:exported="false" />
        <activity
            android:name=".mcu3co2"
            android:exported="false" />
        <activity
            android:name=".MCU3"
            android:exported="false" />
        <activity
            android:name=".mcu2temphumid"
            android:exported="false" />
        <activity
            android:name=".mcu1temphum"
            android:exported="false" />
        <activity
            android:name=".mcu2oxygen"
            android:exported="false" />
        <activity
            android:name=".mcu2metha"
            android:exported="false" />
        <activity
            android:name=".mcu2flowv"
            android:exported="false" />
        <activity
            android:name=".mcu2ethy"
            android:exported="false" />
        <activity
            android:name=".mcu2co2"
            android:exported="false" />
        <activity
            android:name=".mcu2co"
            android:exported="false" />
        <activity
            android:name=".MCU2"
            android:exported="false" />
        <activity
            android:name=".mcu1temphumid"
            android:exported="false" />
        <activity
            android:name=".mcu1flowv"
            android:exported="false" />
        <activity
            android:name=".mcu1oxygen"
            android:exported="false" />
        <activity
            android:name=".mcu1methane"
            android:exported="false" />
        <activity
            android:name=".mcu1ethy"
            android:exported="false" />
        <activity
            android:name=".mcu1co"
            android:exported="false" />
        <activity
            android:name=".mcu1co2"
            android:exported="false" />
        <activity
            android:name=".Recycleviewtest"
            android:exported="false" />
        <activity
            android:name=".ctcactivityextended"
            android:exported="false" />
        <activity
            android:name=".vcactivityextended"
            android:exported="false" />
        <activity
            android:name=".ActivityUPCexpect"
            android:exported="false" />
        <activity
            android:name=".activityncexpected"
            android:exported="false" />
        <activity
            android:name=".activityumcexpected"
            android:exported="false" />
        <activity
            android:name=".activityocexpected"
            android:exported="false" />
        <activity
            android:name=".ActivityMCexpec"
            android:exported="false" />
        <activity
            android:name=".activitylmcrealEXPECTED"
            android:exported="false" />
        <activity
            android:name=".activityECexpected"
            android:exported="false" />
        <activity
            android:name=".ctusingEXPECTED"
            android:exported="false" />
        <activity
            android:name=".activitycmEXPECTED"
            android:exported="false" />
        <activity
            android:name=".activitycdcexpected"
            android:exported="false" />
        <activity
            android:name=".activity2expected"
            android:exported="false" />
        <activity
            android:name=".Imagebutton"
            android:exported="false" />
        <activity
            android:name=".CTCActivity"
            android:exported="false" />
        <activity
            android:name=".VCActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityNC"
            android:exported="false" />
        <activity
            android:name=".ActivityUMC"
            android:exported="false" />
        <activity
            android:name=".ActivityUPC"
            android:exported="false" />
        <activity
            android:name=".ActivityOC"
            android:exported="false" />
        <activity
            android:name=".ActivityMC"
            android:exported="false" />
        <activity
            android:name=".ActivityLMCReal"
            android:exported="false" />
        <activity
            android:name=".ActivityLMC"
            android:exported="false"
            android:label="@string/title_activity_lmc"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".ActivityEC"
            android:exported="false" />
        <activity
            android:name=".ActivityCTusing"
            android:exported="false" />
        <activity
            android:name=".ActivityCt"
            android:exported="false"
            android:label="@string/title_activity_ct"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".activitycm"
            android:exported="false" />
        <activity
            android:name=".Activitycdc"
            android:exported="false" />
        <activity
            android:name=".Activity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>